Repository planetscale/vitess-operator, pull requests merged in 2022-10, with the labels that each got.

#324 VTOrc Deployment fix and miscellaneous changes.
  deploy/crds/planetscale.com_vitessclusters.yaml
  deploy/crds/planetscale.com_vitesskeyspaces.yaml
  deploy/crds/planetscale.com_vitessshards.yaml
  docs/api/index.html
  go.mod
  go.sum
  pkg/apis/planetscale/v2/defaults.go
  pkg/apis/planetscale/v2/vitesskeyspace_types.go
  pkg/apis/planetscale/v2/zz_generated.deepcopy.go
  pkg/controller/vitessshard/reconcile_vtorc.go
  pkg/operator/controllermanager/flags.go
  pkg/operator/vtorc/deployment.go
  pkg/operator/vttablet/datastore.go
  pkg/operator/vttablet/flags.go
  test/endtoend/operator/101_initial_cluster_vtorc_vtadmin.yaml
  test/endtoend/operator/operator-latest.yaml
  test/endtoend/operator/operator.yaml
  test/endtoend/operator/pf.sh
  test/endtoend/operator/pf_vtadmin.sh
  test/endtoend/upgrade_test.sh
  test/endtoend/utils.sh
  test/endtoend/vtorc_vtadmin_test.sh
  tools/get-e2e-test-deps.sh
Labels: enhancement, Breaking Vitess Changes Fix

#334 Update k8s compatibility table and increase memory limit
  README.md
  test/endtoend/operator/operator-latest.yaml
  test/endtoend/operator/operator.yaml
Labels: Backport to: release-2.8

#331 Update the release script and documentation with more verbose
  docs/release-process.md
  tools/release/do_release.sh
Labels: Backport to: release-2.7, Backport to: release-2.8

#337 [release-2.8] Update the release script and documentation with more verbose
  docs/release-process.md
  tools/release/do_release.sh
Labels: Backport
